.content1
    display: grid
    grid-template-rows: 360px 180px
    grid-template-columns: 30% 30% 30%
    grid-gap: 2%
    justify-content: center
    margin-bottom: 100px

.block11

    position: relative
    display: flex
    align-items: center
    justify-content: center
    text-align: center

.block2
    grid-column: 1/4

.foto-block11
    width: 100%

.text1
    position: absolute

.block2
    position: relative
    display: flex
    align-items: center
    justify-content: center
    text-align: center

.text2
    position: absolute

.content2
    display: grid
    grid-template-rows: repeat(3, 581px)
    grid-template-columns: repeat(3,30%)
    grid-gap: 2%
    justify-content: center

.items1

.items2
    margin-bottom: 30px

@media (max-width: 1200px)
    .content2

        grid-template-rows: repeat(3, 581px)
        grid-template-columns: 30% 30%

@media (max-width: 570px)
    .content2

        grid-template-rows: 581px
        grid-template-columns: 30%
