@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.latonormal400, .button-cart-text, .add-desk, .price, .catalog-txt-heading, .item-text, .item-column-text, .index-catalolg-button, .submit-registration-form, .submenu-link, .header-man, .footer_copyright, .batton_submit, .email, .cart-box-discr, .h6, .cart-box-heading, .sub-total, .h3, .h2, .new-arrivals, .catalog-disckriptions, .h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  padding: 0 2% 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  box-sizing: border-box;
}

.header-left-menu {
  min-height: 38px;
  display: flex;
  list-style-type: none;
}

.header-right-menu {
  list-style-type: none;
  display: flex;
}

.header-left-menu-link {
  padding-right: 41px;
}

.header-right-menu-burgermenu {
  padding-right: 25px;
  position: relative;
}

.fa-solid {
  color: #E8E8E8;
}

.header-right-menu-basket {
  padding-left: 42px;
}

.logo:hover {
  box-shadow: 4px 4px 35px #F16D7F;
}

.header-left-menu-link:hover .fa-solid {
  color: #F16D7F;
  box-shadow: 4px 4px 35px #F16D7F;
}

.header-right-menu-burgermenu:hover .fa-solid {
  color: #F16D7F;
  box-shadow: 4px 4px 35px #F16D7F;
}

.header-right-menu-contact:hover .fa-solid {
  color: #F16D7F;
  box-shadow: 4px 4px 35px #F16D7F;
}
.header-right-menu-contact:hover .fa-solid:hover .fa-solid {
  color: #F16D7F;
  box-shadow: 4px 4px 35px #F16D7F;
}

.header-right-menu-basket:hover .fa-solid {
  color: #F16D7F;
  box-shadow: 4px 4px 35px #F16D7F;
}

/*хедер под хедером на странице каталог и карт*/
.header-catalog {
  background-color: #F8F3F4;
}

.header-catalog-box {
  min-height: 146px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumb-item:hover {
  color: #F16D7F;
  font-size: 20px;
}

@media (max-width: 570px) {
  .header-menu {
    justify-content: space-between;
  }

  .header-right-menu-burgermenu {
    padding-right: 0;
  }

  .header-right-menu-contact {
    display: none;
  }

  .header-right-menu-basket {
    display: none;
  }

  .header-catalog-box {
    justify-content: space-around;
    flex-direction: column;
  }

  .breadcrumb-item {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
  }

  .header-left-menu-link {
    padding-right: 3%;
  }
}
/*индекс*/
.brand {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  text-decoration: none;
}

.fashion {
  font-family: "Lato";
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  color: #222222;
  text-decoration: none;
}

/*блок с каталогом на главной */
.h1 {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-decoration: none;
  margin-bottom: 6px;
}

.catalog-disckriptions {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-decoration: none;
  /*регистрация*/
  /*футер*/
}

.paragraf-footer {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  margin-top: 16px;
  color: #FBFBFB;
}

.paragraf_footer {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  margin-top: 16px;
  color: #FBFBFB;
}

/* каталог */
.new-arrivals {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

/*  */
.h2 {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding-top: 59px;
}

.h3 {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 20px;
}

.h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  min-height: 29px;
}

.h5 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.red {
  color: #F16D7F;
}

/*product   */
.woman-coll {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.sub-total {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

/*корзина*/   
.cart-box-heading {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.h6 {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.cart-box-discr {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

@media (max-width: 570px) {
  .h6 {
    font-size: 16px;
    line-height: 19px;
    color: #222222;
  }

  .cart-box-discr {
    font-size: 14px;
    line-height: 17px;
    color: #575757;
  }

  .new-arrivals {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 188px) {
  .new-arrivals {
    font-weight: 2000;
    font-size: 14px;
    line-height: 19px;
  }
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-content-wrapper {
  flex-grow: 1;
}

/*пре футер*/
.pre-footer {
  background-color: #222224;
}

.footer_box {
  display: flex;
  justify-content: space-between;
  min-height: 341px;
  align-items: center;
}

.item_footer {
  max-width: 300px;
  text-align: center;
  background-color: #222224;
}

/*футер*/
.footer_form {
  min-height: 448px;
  background: url(img/background-footer.svg) no-repeat;
  background-size: cover;
  background-position: bottom;
}

.footer_box_second_line {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
}

.woman_face_box {
  max-width: 145px;
  min-height: 150px;
  text-align: center;
  margin-top: 87px;
}

.paragraf_footer_woman_box {
  max-width: 360px;
  min-height: 99px;
}

.paragraf_footer_woman {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer_box_subscribe {
  max-width: 557px;
  min-height: 61px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 32px;
}

.subscribe {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
}

.for_our {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 30.1px;
  text-align: center;
}

.footer_box_mail {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5%;
}

.email {
  border-radius: 40px 0px 0px 40px;
  width: 65%;
  min-height: 49px;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #222224;
  padding-left: 5%;
  padding-right: 5%;
  opacity: 0.67;
  box-sizing: border-box;
}

.batton_submit {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 35%;
  min-height: 49px;
  border-radius: 0px 40px 40px 0px;
}
.batton_submit:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.footer_bottom {
  background-color: #222224;
  min-height: 79px;
}

.footer_bottom_box {
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin-top: 30px;
}

.socialnet {
  margin-top: 24px;
}

.fa-vk {
  font-size: 31px;
  color: #F1E4E6;
  margin-right: 7px;
}
.fa-vk:hover {
  color: #F16D7F;
}

.fa-twitter-square {
  font-size: 31px;
  color: #F1E4E6;
}
.fa-twitter-square:hover {
  color: #F16D7F;
}

@media (max-width: 1200px) {
  .footer_box {
    display: flex;
    flex-direction: column;
  }

  .footer_box_mail {
    margin-bottom: 5%;
  }

  .footer_box_second_line {
    width: 100%;
  }

  .footer_box_subscribe {
    margin-top: 40px;
  }

  .item_footer {
    margin: 48px;
  }
}
@media (max-width: 570px) {
  .footer_bottom {
    flex-direction: row-reverse;
  }

  .footer_box_mail {
    max-width: 320px;
  }

  .footer_bottom_box {
    flex-direction: column-reverse;
    align-items: center;
  }

  .paragraf_footer_woman {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #222224;
  }

  .footer_box_subscribe {
    margin-top: 40px;
  }

  .subscribe {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #222224;
  }

  .for_our {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #222224;
  }
}
/*выпадающее меню*/
.column-menu {
  max-width: 232px;
  min-height: 764px;
  background: #FFFFFF;
  text-align: center;
  align-items: center;
  position: absolute;
  z-index: 10000;
  display: none;
  min-width: 360px;
}

.item-column-menu {
  display: flex;
  flex-direction: column;
}

.item-column-text:hover {
  font-size: 20px;
}

.header-man {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-decoration: none;
  text-align: left;
  margin-top: 20px;
  margin-left: 33px;
}

.header-man:hover {
  font-size: 20px;
  color: #F16D7F;
}

.header-right-menu-burgermenu:hover .column-menu {
  display: block;
  /*выпадающее меню фильтр*/
}

.menu-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  position: relative;
  padding-left: 0;
  padding-right: 11px;
}

.menu-link {
  display: flex;
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.menu-link:hover {
  color: #F16D7F;
}

.fa-bars-staggered {
  color: #000;
  padding-left: 11px;
}

.submenu-link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-bottom: 11px;
  padding-left: 17px;
}
.submenu-link:hover {
  color: #F16D7F;
  font-size: 20px;
}

.summary {
  list-style-type: none;
  padding: 11px;
  border-left: 4px solid #F16D7F;
  -webkit-border-after: 1px solid #EBEBEB;
          border-block-end: 1px solid #EBEBEB;
  margin-bottom: 18px;
}

.summary:hover {
  color: #F16D7F;
  font-size: 20px;
}

.menu-list .menu-item:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  z-index: 10000;
  list-style: none;
  flex-wrap: wrap;
  width: 360px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding-top: 11px;
  padding-left: 8px;
}

/*выпадающее меню сайз и тд*/
.catalog-menu-box {
  background-color: #E5E5E5;
  display: flex;
  padding-top: 51px;
  padding-bottom: 64px;
  justify-content: space-between;
}

.catalog-menu-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.catalog-menu-right-box {
  display: flex;
}

.menu-link-size {
  position: relative;
  display: flex;
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.menu-link-size:hover {
  color: #F16D7F;
}

.submenu-size {
  display: none;
  position: absolute;
  z-index: 10000;
  list-style: none;
  flex-wrap: wrap;
  width: 76px;
  padding-left: 0px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.menu-list .menu-item:hover .submenu-size {
  display: block;
}

.submenu-item {
  padding: 9px;
}

.size {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
}

.checkbox {
  padding-bottom: 10px;
}
.checkbox:hover {
  color: #F16D7F;
  font-size: 20px;
}

.fa-chevron-down {
  color: #6F6E6E;
}
.fa-chevron-down:hover {
  color: #F16D7F;
}

@media (max-width: 570px) {
  .header-right-menu-burgermenu:hover .column-menu {
    right: 0;
    left: auto;
  }
}
.cart-box {
  margin-top: 98px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
}

.cart-product-box {
  width: 57%;
}

.item-cart-product-box {
  display: flex;
  margin-bottom: 40px;
  box-shadow: 4px 7px 10px #E5E5E5;
}

.pic-cart-product-box {
  max-width: 362px;
}

.cart-box-heading-discr {
  padding-left: 31px;
  padding-top: 22px;
  max-width: 390px;
}

.text-quantity {
  max-width: 50px;
  min-height: 24px;
  padding-left: 2%;
}

.item-cart-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.shopping-cart-button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-width: 234px;
  min-height: 49px;
  padding: 3%;
  border: none;
}
.shopping-cart-button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.input-name {
  width: 100%;
}

.shipping-cart-button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  max-width: 100px;
  min-height: 34px;
  margin-top: 24px;
  margin-bottom: 58px;
  padding: 3%;
  border: none;
}
.shipping-cart-button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.form-shiping-price {
  width: 32%;
  display: flex;
  flex-direction: column;
}

.cart-total-price {
  height: 214px;
  background-color: #F5F3F3;
  justify-content: center;
}

.hr-cart-total-price {
  max-width: 275px;
  background: #E2E2E2;
  margin-left: 43px;
  margin-bottom: 17px;
}

.total-price-cart-button-box {
  display: flex;
  justify-content: center;
}

.total-price-cart-button {
  max-width: 273px;
  min-height: 50px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding: 3%;
}
.total-price-cart-button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.total {
  text-align: end;
  padding-right: 34px;
  padding-top: 39px;
}

@media (max-width: 1140px) {
  .cart-box {
    flex-wrap: wrap;
    margin-bottom: 0px;
    width: 100%;
  }

  .cart-product-box {
    width: 100%;
  }

  .item-cart-product-box {
    display: flex;
    justify-content: start;
    width: 100%;
  }

  .form-shiping-price {
    width: 100%;
    flex-direction: row;
    margin-top: 65px;
    margin-bottom: 128px;
    justify-content: space-between;
  }

  .shopping-cart-button {
    margin-right: 10px;
  }

  .shipping {
    width: 48%;
  }

  .cart-total-price {
    width: 48%;
    margin-top: 45px;
  }
}
@media (max-width: 570px) {
  .cart-product-box {
    width: 100%;
  }

  .pic-cart-product-box {
    max-width: 144px;
  }
  .pic-cart-product-box .foto-png {
    width: 100%;
  }

  .cart-box-heading-discr {
    padding-left: 31px;
    padding-top: 22px;
    max-width: 188px;
  }

  .form-shiping-price {
    width: 100%;
    flex-direction: column;
    margin-top: 65px;
  }

  .shipping {
    width: 100%;
  }

  .cart-total-price {
    width: 100%;
    margin-top: 34px;
  }

  .shopping-cart-button {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #575757;
  }

  .shipping-cart-button {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #575757;
  }

  .total-price-cart-button {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}
/*форма регистрации  */
.registration-header {
  min-height: 148px;
  background-color: #F8F3F4;
}

.registration {
  background-color: #E5E5E5;
}

.registration-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 65px;
  padding-bottom: 96px;
}

.registration-box-anketa {
  width: 48%;
}

.input-name {
  box-sizing: border-box;
  max-width: 350px;
  min-height: 45px;
  margin-top: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-left: 17px;
}

.text-registration-form {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-bottom: 39px;
  max-width: 359px;
  min-height: 32px;
}

.login-details {
  margin-top: 33px;
  margin-bottom: 16px;
}

.check-box {
  max-width: 132px;
  min-height: 17px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
}

.radio:hover {
  border: 1px solid #F16D7F;
  max-width: 20px;
  height: 20px;
}

.radio {
  max-width: 17px;
  min-height: 17px;
  padding-right: 10px;
}

.loyaity-box {
  width: 48%;
}

.paragraf-registration {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  max-width: 652px;
  min-height: 58px;
  margin-top: 22px;
  margin-bottom: 21px;
}

.loyality-bonus {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  list-style: none;
}

.loyality-bonus-li::before {
  content: "✓ ";
}

.loyality-bonus-li {
  padding-bottom: 16px;
}

.submit-registration-form {
  padding: 3%;
  font-size: 14px;
  line-height: 17px;
}
.submit-registration-form:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

@media (max-width: 570px) {
  .registration-box {
    flex-direction: column;
    justify-content: center;
  }

  .registration-box-anketa {
    width: 100%;
    margin-bottom: 40px;
  }

  .loyaity-box {
    width: 100%;
  }

  .h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*контент на индекс*/
.banner {
  background-color: #F1E4E6;
}

.banner-content {
  display: flex;
  min-height: 764px;
  width: 100%;
  justify-content: space-between;
}

.men {
  width: 42%;
}

.banner-text {
  display: flex;
  align-items: center;
  width: 42%;
  justify-content: center;
}

.text {
  display: block;
  min-height: 93px;
  text-align: left;
  text-decoration: none;
}

.pinkbar {
  max-width: 12px;
  min-height: 90px;
  margin-right: 16px;
  background: #F16D7F;
}

.menu {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-top: 37px;
  margin-left: 34px;
  margin-bottom: 4px;
}

.content {
  padding-top: 65px;
  background-color: #E5E5E5;
}

.index-button {
  padding-bottom: 95px;
  width: 100%;
  text-align: center;
}

.index-catalolg-button {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  max--width: 211px;
  min-height: 47px;
  padding: 0 3% 0;
}
.index-catalolg-button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

/*выпадающее меню бургер меню*/
.item-column-text {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  padding-top: 11px;
  text-align: left;
  padding-left: 54px;
}
.item-column-text:hover {
  color: #F16D7F;
}

/*блоки с категориями товаров  - М, Ж,, Д и аксс - страница индекс*/
.content-block-item {
  width: 100%;
  margin-bottom: 96px;
}

.block-man {
  display: flex;
  margin-bottom: 30px;
}

.block-man-item {
  width: 100%;
}

.block-item-things {
  width: 100%;
}

.block-man-item-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-text {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: block;
  position: absolute;
}

.block-man-item-link:hover .item-text {
  box-shadow: 0px 5px 8px #F16D7F;
  font-size: 20px;
}

/*блок с каталогом на главной */
.catalog-menu-box {
  background: #FFFFFF;
}

.catalog-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-index-heading {
  margin-bottom: 48px;
  width: 100%;
  text-align: center;
}

.item-catalog {
  max-width: 360px;
  position: relative;
  margin-bottom: 30px;
}

.item-catalog-link {
  display: block;
  max-width: 360px;
  text-decoration: none;
}

.item-catalog-foto {
  width: 100%;
  height: 100%;
}

.item-catalog-link:hover {
  box-shadow: 0px 5px 8px #F16D7F;
}

.item-catalog:hover .item-catalog-foto {
  filter: brightness(30%);
}

.catalog-txt {
  max-width: 314.74px;
  padding: 5% 4%;
}
.catalog-txt-heading {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.catalog-txt-disckriptions {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.add-box {
  display: none;
  position: absolute;
  top: 180px;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.add {
  display: flex;
  text-decoration: none;
  padding: 8px;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.cart {
  margin-right: 10px;
}

.add-desk {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.item-catalog:hover .add-box {
  display: flex;
}

.add:hover {
  box-shadow: 0px 5px 8px #F16D7F;
}

@media (max-width: 1200px) {
  .foto-main-page {
    width: 100%;
  }
}
@media (max-width: 570px) {
  .banner-content {
    min-height: 363px;
  }

  .men {
    display: none;
  }

  .banner-text {
    width: 100%;
  }

  .pinkbar {
    margin-left: 0px;
    margin-right: 10px;
  }

  .brand {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
  }

  .fashion {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-box {
    justify-content: center;
  }

  .block-man {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .block-man-item {
    width: 100%;
  }

  .block-man-item-link {
    width: 100%;
    margin-bottom: 22px;
  }

  .item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .red {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 570px) and (max-width: 188px) {
  .brand {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }

  .fashion {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .item-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
  }

  .red {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}
/*отдельная страница каталог*/
.breadcrumb-item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

/*пагинация*/
.pagination_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 97px;
}

/*страница продукт*/
.product-banner {
  background: #F7F7F7;
}

.product-item-banner {
  width: 100%;
  min-height: 777px;
  background: #F7F7F7;
}

.product-item-banner-woman {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product-item-banner-woman-foto {
  max-width: 597px;
  min-height: 724px;
}

.arrow {
  display: flex;
  justify-content: space-between;
  margin-top: -440px;
  width: 100%;
}

.product-banner-price {
  max-width: 1140px;
  min-height: 601px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  margin-top: -50px;
}

.product-banner-price-disc {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.product-hr {
  background: #EF5B70;
  width: 100%;
  min-height: 3px;
}

.product-price-disc {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.price-product-disc {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.price-product-paragraf {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  max-width: 555px;
  height: 100%;
  margin-top: 32px;
}

.border-line-product {
  max-width: 641px;
  border: 1px solid #F16D7F;
  margin-bottom: 65px;
}

.product-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin-top: 16px;
  margin-bottom: 33px;
}

.button-cart-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-cart {
  border: 1px solid #F16D7F;
  margin-top: 50px;
  max-width: 211px;
  padding: 1% 10%;
}
.button-cart-link {
  height: 100%;
  display: flex;
  text-decoration: none;
  justify-content: center;
  color: #F16D7F;
  align-items: center;
}

.fa-cart-plus {
  color: #F16D7F;
}

.button-cart-text {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-top: 12px;
  padding-left: 10px;
}

.button-cart:hover {
  border: 3px solid #F16D7F;
  box-shadow: 0px 5px 8px #F16D7F;
}

.price-product {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin: 0;
}

@media (max-width: 1200px) {
  .product-item-banner-woman-foto {
    max-width: 466px;
    min-height: 565px;
  }

  .product-item-banner {
    min-height: 624px;
  }
}
@media (max-width: 570px) {
  .product-item-banner-woman-foto {
    max-width: 370px;
    min-height: 450px;
  }

  .product-item-banner {
    min-height: 455px;
  }
}
.content1 {
  display: grid;
  grid-template-rows: 360px 180px;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 2%;
  justify-content: center;
  margin-bottom: 100px;
}

.block11 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.block2 {
  grid-column: 1/4;
}

.foto-block11 {
  width: 100%;
}

.text1 {
  position: absolute;
}

.block2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text2 {
  position: absolute;
}

.content2 {
  display: grid;
  grid-template-rows: repeat(3, 581px);
  grid-template-columns: repeat(3, 30%);
  grid-gap: 2%;
  justify-content: center;
}

.items2 {
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .content2 {
    grid-template-rows: repeat(3, 581px);
    grid-template-columns: 30% 30%;
  }
}
@media (max-width: 570px) {
  .content2 {
    grid-template-rows: 581px;
    grid-template-columns: 30%;
  }
}/*# sourceMappingURL=style.css.map */